.hero{
    width: 100vw;
    height: 100vh;
    padding: 100px 229px 100px 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-m);
    background: linear-gradient(45deg,#0A0E27,#1A1F3A) ;
}

.hero h2{
    background: var(--primary-gradient);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 3.89375rem;
    text-align: center;
}
.hero p{
    color: var(--on-background-color);
    opacity: 0.7;
    width: 100%;
    font-size: 1.1625rem;
    text-align: center;
}




.btn-bar{
    width: 100%;
    padding-top: var(--spacing-sm);
    display: flex;
    justify-content: center;
    gap: var(--spacing-l);
}
