*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variables */
:root{
    --primary-color:#00FFFF;
    --background-color:#0A0E27;
    --surface-color:rgba(10,14,39,95);
    --accent-color:#FF00FF;
    --text-body-color:rgba(255,255,255,0.6);
    --container-color:rgba(10,14,39,0.8);
    --stroke-color:rgba(0,255,255,0.3);
    /* on layer colors */
    --on-primary-color:#ddd;
    --on-background-color:#fff;
    --on-surface-color:#fff;
    --on-accent-color:#fff;
    --on-container-color:rgba(244,244,244,1);


    /* gradients  */
    --primary-gradient:linear-gradient(to right,rgb(0, 255, 255),rgb(0, 153, 255));
    --secondary-gradient:linear-gradient(to right , var(--primary-color),var(--accent-color));
    /* transitions */
    --time-interpolator: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    /* spacing */
    --spacing-xs:0.25rem;
    --spacing-sm:0.5rem;
    --spacing-m:1rem;
    --spacing-l:1.25rem;
    --spacing-xl:1.5rem;
    --spacing-xxl:2rem;
    --spacing-xxxl:2.5rem;

    /* boreder radius  */
    --radius-sm:0.25rem;
    --radius-m:0.5rem;
    --radius-l:1rem;
}

    /* layout */
body{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--on-background-color);
}
main{
    flex-grow: 1;
    display: flex;
    width: 100%;
}
header{
    background: var(--surface-color);
    padding: 16px 40px;
}
footer{
    padding: var(--spacing-xl);
    background: linear-gradient(to bottom,rgba(10,14,39,80),#050812);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--spacing-m);
}


.logo{
    color: var(--on-background-color);
    font-size: 27.5px;
}
.logo span{
    color: var(--primary-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-xl);
}

.nav-links a{
    text-decoration: none;
    color: var(--on-background-color);
    transition: opacity var(--time-interpolator) ;
}
.nav-links a:hover{
    color: var(--on-background-color);
    opacity: 0.67;
}

.blocs-container{
    display: flex;
    justify-content: flex-start;
    gap: var(--spacing-xxl);
}
.bloc{
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}
.bloc h2{
    font-size: 16px;
    font-weight: bold;
}

.bloc p{
    opacity: 0.7;
}

.bloc a{
    text-decoration: none;
    color: var(--on-background-color);
    opacity: 0.7;
}


.follow-links{
    display: flex;
    justify-content: flex-start;
    gap: var(--spacing-m);
}

.follow-item{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-m);
    background: rgba(0, 255, 255,0.1);
    opacity: 0.1;
    border-radius: var(--radius-m);
    border-style: solid;
    border-color: rgba(0,255,255,0.3);
}
.follow-item i{
    background: var(--primary-color);
    color: transparent;
    background-clip: text;
}


.footer-bottom{
    padding-top: var(--spacing-xl);
    text-align: center;
}
    /* components  */
.cta-btn{
    background: var(--primary-gradient);
    padding: var(--spacing-sm) var(--spacing-m);
    border-radius: var(--radius-m);
}




.btn{
    padding: var(--spacing-m) var(--spacing-xl);
    border-radius: var(--radius-m);
}
.btn-primary{
    background: var(--primary-gradient);
    color: var(--background-color);
    font-size: 1.056rem;
    font-weight: bold;
}

.btn-secondary{
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: bold;
}

.section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
    align-content: space-between;
    margin-inline: 2rem;
    padding-inline: 0.5rem    ;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-l);
}

.section > h2 ,.section >h4{
    flex-basis: 100%;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
}

.section > h2::after{
    content: '';
    position: absolute;
    left: 47%;
    bottom: -8px;
    width:5rem;
    height: 4px;
    background: var(--secondary-gradient);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-m);
    background: linear-gradient(-45deg,rgba(26,31,58,0.6),rgba(15,20,40,0.6));
    border-radius: var(--radius-m);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,255,255,0.2) ;
}

.card p{
    color: rgba(255, 255,255,0.7);
    font-size: 0.75rem;
    text-align: center;
}

.card__avatar{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(45deg,rgba(0,255,255,0.2),rgba(255,0,255,0.2));
}

.game-tag{
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: var(--radius-l);

}

.game-tag-var1{
    border: 1px solid #FF4655;
    background: rgba(255, 70, 85,0.2);
    color: rgba(255, 70, 85,0.4);
}

.search-section{
    width:1000 ;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: var(--spacing-l);
    padding: var(--spacing-xl);
    border: 1px solid var(--stroke-color);
    border-radius: var(--radius-m);
}

.search-section *{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}


.selector{
    background: var(--container-color);
    color: var(--on-container-color);
    font-weight: normal;
    font-size: 15px;
    padding: 15px 20px;
}



 /* utilities */
 .flex-row{
    display: flex;
 }
 .flex-center{
    justify-content: center;
    align-items: center;
 }



 .gap-sm{
    gap: var(--spacing-sm);
 }
 .gap-m{
    gap: var(--spacing-m);
 }


.w-full{
    width: 100%;
}

.py-sm{
    padding-top: var(--spacing-sm) !important;  
    padding-bottom: var(--spacing-sm) !important;
}

 .primary-color{
    color: var(--primary-color);
 }

 .primary-border{
    border: 1px solid var(--stroke-color);
    border-radius: var(--radius-m);
 }

 .label{
    font-weight: bold;
    font-size: 13px;
    color: var(--primary-color);
 }




 .relative{
    position: relative;
 }