.section{
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-inline: 2rem;
    padding-inline: 0.5rem    ;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-l);
}


.section article{
    flex: 1 1 120px;
    /* min-width: 168px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-l);
    background: linear-gradient(-45deg,rgba(26,31,58,0.6),rgba(15,20,40,0.6));
    border-radius: var(--radius-m);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,255,255,0.2) ;
}


.section__avatar i{
    color: #00FFFF;
}
.section article h4{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.section article p{
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: var(--on-background-color);
}