

.communicate-card--width{
    width: 266px;
}

.testemonie--width{
    width: 365.33px;
}

.gradient-text{
    background: var(--secondary-gradient);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 8rem;
}
.body-text{
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-body-color);
}